version: "3.5"

services:
  eita_backend:
    tty: true
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_PORT: 5432
    ports:
      - 3001:3001
    volumes:
      - .:/app
    depends_on:
      - postgres

  postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_PASSWORD: eita
    ports:
      - 5432:5432
    volumes:
      - postgres13:/var/lib/postgresql/data

volumes:
  postgres13:
